body {
  padding: 64px;
}

.message {
  width: 300px;
  padding: 8px 16px;
  background: black;
  color: white;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  /* 要素の位置を固定する */
  position: fixed;
  right: 32px;
  bottom: 32px;

  animation: popup 2s forwards;
  /* fowards → 最後にその位置にとどまってくれる */
}

@keyframes popup {
  0% {
    transform: translateY(20px);
    /* 透明度の設定 */
    opacity: 0;
    /* 最初にパッと出てくるような動きにする */
    animation-timing-function: ease-out;
  }
  20%, 80% {
    transform: none;
    /* none → その場にとどまる */
    opacity: 1;
  }
  100% {
    transform: translateY(20px);
    opacity: 0;
  }
}
