body {
    padding: 64px;
}

.loading {
    width: 40px;
    height: 40px;
    border: 8px solid #ccc;
    /* 図形の右辺を透明にする */
    border-right-color: transparent;
    border-radius: 50%;

    /* アニメーションの設定 */
    animation: spin .8s infinite linear;
    /* infinitez → ずっと動く , linear → 等速で動く */
}

/* ずっと回転させる */
@keyframes spin {
    from {
        transform: none;
    }

    to {
        transform: rotate(360deg);
    }
}